<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="380dp"
    android:layout_height="420dp"
    android:focusableInTouchMode="true">
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <TextView
            android:text="@string/server_address"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <EditText
            android:text="http://192.168.0.1:8569"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:inputType="text"
            android:maxLines="1"
            android:id="@+id/ServerAddress" />
    </LinearLayout>
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <TextView
            android:text="@string/device_address"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <TextView
            android:text="192.168.0.2"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/DeviceAddress" />
    </LinearLayout>
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <TextView
            android:text="@string/device_id"
            android:textAppearance="?android:attr/textAppearanceSmall"
            android:layout_width="match_parent"
            android:layout_height="wrap_content" />
        <TextView
            android:text="eb45e702-65e2-4988-8948-6b4c6b4190fc"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/DeviceId" />
    </LinearLayout>
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <CheckBox
            android:text="@string/advertising_enable"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/AdvertisingEnable" />
    </LinearLayout>
  
      <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <CheckBox
            android:text="@string/voiceover_enable"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/VoiceOverEnable" />
    </LinearLayout>
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <CheckBox
            android:text="@string/camera_preview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/CameraPreviewEnable" />
    </LinearLayout>
  
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginLeft="10dp"
        android:layout_marginRight="10dp"
        android:layout_marginTop="10dp">
        <CheckBox
            android:text="@string/send_logs"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/SendLogsEnable" />
    </LinearLayout>
  
    <TextView
        android:id="@+id/Version"
        android:text="v. 1 (1)"
        android:textAppearance="?android:attr/textAppearanceSmall"
        android:gravity="center"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingTop="15dp" />
</LinearLayout>