﻿@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>CDisplay</title>
</head>
<body>
<div>
    Customer display api
</div>
</body>
</html>